<footer class="ui-footer">
  <div class="wrap">
    <div class="grid grid-cols-24 gap-24 items-end">
      <div class="ui-footer-credits ts-m c-color">Rogier de Boevé © 2026</div>
      <ul class="ui-footer-socials socials ts-m">
        <li><a class="social-a c-color" href="https://twitter.com/rogierdeboeve" target="_blank" rel="noopener" data-sound data-sound-click><span>Twitter</span></a></li>
        <li><a class="social-a c-color" href="https://www.instagram.com/rdboeve/" target="_blank" rel="noopener" data-sound data-sound-click><span>Instagram</span></a></li>
      </ul>
      <div class="ui-footer-contact">
        <a class="ts-m c-color" href="mailto:hello@rogierdeboeve.com" data-sound data-sound-click>hello@rogierdeboeve.com</a>
      </div>
    </div>
  </div>
</footer>
