---
const pathname = Astro.url.pathname;
---

<header class="ui-header">
  <div class="ui-header-bg"></div>
  <div class="ui-header-secondary">
    <div class="wrap">
      <div class="grid grid-cols-24 gap-24">
        <div class="col-span-4">
          <a href="/" class="ui-header-version ts-m c-color">V-004</a>
        </div>
        <div class="col-span-6 col-start-19 ui-header-availability ts-m c-color">
          <span class="ui-header-part-outer"><span class="ui-header-part-inner">Available for freelance</span></span>
        </div>
      </div>
    </div>
  </div>

  <div class="ui-header-primary">
    <div class="wrap">
      <div class="grid grid-cols-24 gap-24">
        <div class="col-span-4">
          <a href="/" class="ui-header-name c-color" aria-label="Rogier de Boevé">
            <span>Rogier</span>
            <span>de Boevé</span>
          </a>
        </div>
        <div class="col-span-4 col-start-5">
          <div class="ui-header-description c-color">
            <span class="ui-header-part-outer"><span class="ui-header-part-inner">Creative</span></span>
            <span class="ui-header-part-outer"><span class="ui-header-part-inner">Developer</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui-header-mobile lg:hidden">
    <div class="ui-nav-mobile c-color">
      <div class="ui-nav-mobile-toggle">
        <div class="wrap">
          <svg class="ui-nav-mobile-toggle-icon" width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <rect class="ui-nav-mobile-toggle-icon-rect" x="-0.5" y="0.5" width="55" height="55" transform="matrix(-1 0 0 1 55 0)" stroke="currentColor" stroke-opacity="0.4" stroke-dasharray="2 2"></rect>
            <g class="ui-nav-mobile-toggle-icon-lines">
              <line class="ui-nav-mobile-toggle-icon-line ui-nav-mobile-toggle-icon-line-1" x1="20" y1="23.5" x2="36" y2="23.5" stroke="currentColor"></line>
              <line class="ui-nav-mobile-toggle-icon-line ui-nav-mobile-toggle-icon-line-2" x1="20" y1="27.5" x2="36" y2="27.5" stroke="currentColor"></line>
              <line class="ui-nav-mobile-toggle-icon-line ui-nav-mobile-toggle-icon-line-3" x1="20" y1="31.5" x2="36" y2="31.5" stroke="currentColor"></line>
            </g>
          </svg>
        </div>
      </div>

      <div class="ui-nav-mobile-content-bg"></div>

      <div class="ui-nav-mobile-content">
        <div class="ui-nav-mobile-content-main">
          <div class="wrap">
            <a class={`ui-nav-mobile-a c-color ${pathname === "/" ? "is-active" : ""}`} href="/" data-slug="home">
              <span class="ui-nav-mobile-a-inner">
                <span class="ui-nav-mobile-a-title">Work</span>
              </span>
            </a>
            <a class={`ui-nav-mobile-a c-color ${pathname.startsWith("/about") ? "is-active" : ""}`} href="/about/" data-slug="about">
              <span class="ui-nav-mobile-a-inner">
                <span class="ui-nav-mobile-a-title">About</span>
              </span>
            </a>
          </div>
        </div>

        <div class="ui-nav-mobile-content-footer">
          <div class="wrap">
            <ul class="ui-nav-mobile-content-footer-links ts-m">
              <li class="ui-nav-mobile-content-footer-link">
                <a class="social-a c-color" href="https://twitter.com/rogierdeboeve" target="_blank" rel="noopener"><span>Twitter</span></a>
              </li>
              <li class="ui-nav-mobile-content-footer-link">
                <a class="social-a c-color" href="https://www.instagram.com/rdboeve/" target="_blank" rel="noopener"><span>Instagram</span></a>
              </li>
              <li class="ui-nav-mobile-content-footer-link">
                <a class="social-a c-color" href="mailto:hello@rogierdeboeve.com"><span>E-mail</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<nav class="ui-nav" aria-label="Main navigation">
  <div class="wrap">
    <ul>
      <li>
        <a class={`ui-nav-a c-color ${pathname === "/" ? "is-active" : ""}`} href="/" data-slug="home" data-sound data-sound-click>
          <span class="ui-nav-a-icon" aria-hidden="true"><svg class="c-icon-arrow-xs" width="6" height="6" viewBox="0 0 6 6"><rect rx="1" width="2" height="2" fill="currentColor"></rect><rect rx="1" x="3.4" y="2" width="2" height="2" fill="currentColor"></rect><rect rx="1" y="4" width="2" height="2" fill="currentColor"></rect></svg></span>
          <span class="ui-nav-a-inner">
            <span class="ui-nav-a-title">Work</span>
          </span>
        </a>
      </li>
      <li>
        <a class={`ui-nav-a c-color ${pathname.startsWith("/about") ? "is-active" : ""}`} href="/about/" data-slug="about" data-sound data-sound-click>
          <span class="ui-nav-a-icon" aria-hidden="true"><svg class="c-icon-arrow-xs" width="6" height="6" viewBox="0 0 6 6"><rect rx="1" width="2" height="2" fill="currentColor"></rect><rect rx="1" x="3.4" y="2" width="2" height="2" fill="currentColor"></rect><rect rx="1" y="4" width="2" height="2" fill="currentColor"></rect></svg></span>
          <span class="ui-nav-a-inner">
            <span class="ui-nav-a-title">About</span>
          </span>
        </a>
      </li>
    </ul>
  </div>
</nav>
